[Unit]
Description=Fix power button not working
Requires=lxc@android.service
Before=phosh.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'chmod -R 777 /dev/input /dev/uinput /dev/uhid; chmod 070 /dev/input/event1; chown pbhelper:pbhelper /dev/input/event1; chmod 070 /sys/class/input/event1; chown pbhelper:pbhelper /sys/class/input/event1'

[Install]
WantedBy=multi-user.target
